* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

:root {
    --btncolor: #4A69E2;
    --BoldFont: "Boldonse", system-ui;
    --yello: #FFA52F;
    --grey: #232321;
    --font2: "Poppins", sans-serif;
}

.ProdListOuter {
    padding: 2% 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ProdListOuter>.banner {
    position: relative;
    /* width: 100%; */
}

.ProdListOuter .banner>.text {
    position: absolute;
    top: 15%;
    left: 5%;
    color: white;
    width: 550px;

    p {
        font-size: 1.5rem;
    }

    h1 {
        font-size: 3.5rem;
    }
}

.ProdListOuter>.prodTitles {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 200px;
    padding: 0px 5px;
    /* background-color: red; */


}

.ProdListOuter>.prodTitles.M {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 200px;
    padding: 0px 5px;
}

.ProdListOuter>.prodTitles>select {
    width: 150px;
    text-align: center;
    text-transform: capitalize;

    height: 40px;
    background-color: black;
    color: white;
    border: none;
    font-size: 0.9rem;
    font-weight: 400;

    option {
        color: red;
    }
}

.ProdListOuter>.prodTitles>.M {
    display: flex;
    gap: 10px;
    /* width: 100%; */
    /* background-color: red; */
}

.ProdListOuter>.prodTitles>.M>select {
    /* width: 100px; */
    text-align: center;
    text-transform: capitalize;
    padding: 10px 10px;

    /* height: px; */
    background-color: black;
    color: white;
    border: none;
    font-size: 0.9rem;
    font-weight: bold;
    border-radius: 5px;
}

/*!Product List CSS */

.ProdListOuter>.ProdLists {
    width: 100%;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
}

.ProdListOuter>.ProdLists>.filter {
    width: 25%;
    height: 100vh;
    /* height: 100vh; */
    /* background-color: black; */
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
}

.ProdListOuter>.ProdLists>.filter>.filterBy {
    width: 100%;

}

.ProdListOuter>.ProdLists>.filter>.filterBy>.filterBtn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;

    button {
        width: 120px;
        height: 40px;
        border: none;
        border-radius: 5px;
        text-transform: capitalize;
        cursor: pointer;
        background-color: var(--btncolor);
        color: white;
    }
}

.ProdListOuter>.ProdLists>.filter>.size {
    width: 100%;
}

.ProdListOuter>.ProdLists>.filter>.size>.SizeList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 15px;
    gap: 10px;

    .SizeBox {
        border-radius: 5px;
        width: 50px;
        height: 50px;
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        /* box-shadow: 1px 3px 2px black; */
        border: 1px solid rgba(0, 0, 0, 0.285);
        cursor: pointer;
        display: flex;

        align-items: center;
        justify-content: center;
        font-size: 0.9rem;
    }

    .SizeBox.active {
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
    }
}

.ProdListOuter>.ProdLists>.filter>.colors {
    width: 100%;
    height: 150px;
}

.ProdListOuter>.ProdLists>.filter>.colors>.ColorList {
    /* background-color: red; */
    width: 290px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    margin-top: 15px;

    .ColorBox {
        border-radius: 5px;
        width: 50px;
        height: 50px;

        /* box-shadow: 1px 3px 2px black; */
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.9rem;
        padding: 2px;

    }

    .ColorBox.active {
        border: 2px solid rgb(255, 255, 255);


    }
}

.ProdListOuter>.ProdLists>.filter>.price>input {
    width: 250px;
    /* background-color: red; */
}

.ProdListOuter>.ProdLists>.filter>.gender {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    gap: 5px;

    /* height: 100px;   */
    .men,
    .women {
        font-size: 1.1rem;
        display: flex;
        gap: 4px;
        /* font-weight: bolder; */
    }
}

.ProdListOuter>.ProdLists>.lists {
    width: fit-content;
    height: 100%;
    /* background-color: red; */
    padding: 10px 30px;


}

@media (max-width:950px) {
    .ProdListOuter>.ProdLists>.lists {
        width: 100%;
        padding: 0px;
    }
}

@media (max-width:620px) {
    .ProdListOuter>.prodTitles>h1 {
        font-size: 1.5rem;
    }
}

@media (max-width:500px) {
    .ProdListOuter>.prodTitles>h1 {
        font-size: 1.5rem;

    }

    .ProdListOuter>.prodTitles {
        height: 100px;
    }
      .ProdListOuter>.prodTitles>.M{
        flex-direction: column;
      }
    .ProdListOuter>.prodTitles>.M>select {
        /* width: 80px; */
        height: 35px;
        text-align: center;
        text-transform: capitalize;
        /* padding:10px; */

        /* height: px; */
        background-color: black;
        color: white;
        border: none;
        font-size: 0.9rem;
        font-weight: bold;
        border-radius: 5px;
    }

}

@media (max-width:400px) {
    .ProdListOuter>.prodTitles>h1 {
        font-size: 1rem;

    }


}