* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

:root {
    --btncolor: #4A69E2;
    --BoldFont: "Boldonse", system-ui;
    --yello: #FFA52F;
    --grey: #232321;
    --font2: "Poppins", sans-serif;
}

.ProdDetailsOuter {
    padding: 2% 5%;

    .mayLike {
        margin-left: 100px;
        margin-top: 5%;
        margin-bottom: 5%;
        font-size: 3rem;
        font-weight: bolder;

    }
}

#NewArrived {
    margin-top: 20px;
}

.ProdFullView {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
    gap: 5%;
}

.ProdFullView>.ProdImg {
    padding: 10px;
    width: fit-content;
    /* background-color: red; */
    display: grid;
    grid-template: '1fr 1fr';
    gap: 10px;

    /* width: 42.5%; */
    /* background-color: red; */
    /* overflow: hidden; */
    img {
        /* width: 350px; */
        height: 400px;
        /* transition: all ease-in-out 2s; */
    }
}

.ProdFullView>.ProdDetails {
    display: flex;
    flex-direction: column;
    padding: 20px;

    /* background-color: red; */
}

.ProdFullView>.ProdDetails>.badge.new {
    width: 80px;
    height: 35px;
    background-color: var(--btncolor);
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: var(--font2);
    text-transform: capitalize;
    margin-bottom: 20px;
}

.ProdFullView>.ProdDetails>.badge {
    width: 80px;
    height: 35px;
    background-color: var(--yello);
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bolder;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    font-family: var(--font2);
    text-transform: capitalize;
    margin-bottom: 20px;
}

.ProdFullView>.ProdDetails>.ProdName {
    width: 450px;
    margin-bottom: 20px;
}

.ProdFullView>.ProdDetails>.ProdPrice {
    color: var(--btncolor);
    font-size: 2rem;
    margin-bottom: 10px;
}

.ProdFullView>.ProdDetails>.ProdColor {
    margin-top: 30px;
}

.ProdFullView>.ProdDetails>.ProdColor>h1 {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bolder;
}

.ProdFullView>.ProdDetails>.ProdColor>.ListColor {
    display: flex;
    gap: 20px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.ProdFullView>.ProdDetails>.ProdColor>.ListColor>.ColorOuter {
    cursor: pointer;
    /* border: 2px solid rgb(0, 0, 0); */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ProdFullView>.ProdDetails>.ProdColor>.ListColor>.ColorOuter.active {
    border: 2px solid rgb(0, 0, 0);
}

.ProdFullView>.ProdDetails>.ProdColor>.ListColor>.ColorOuter>.colors.red {
    width: 30px;
    height: 30px;
    background-color: rgba(255, 0, 0, 0.783);
    border-radius: 50%;
    cursor: pointer;
}

.ProdFullView>.ProdDetails>.ProdColor>.ListColor>.ColorOuter>.colors.black {
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.836);
    border-radius: 50%;
    cursor: pointer;
}

.ProdFullView>.ProdDetails>.ProdColor>.ListColor>.ColorOuter>.colors.green {
    width: 30px;
    height: 30px;
    background-color: #707E6E;
    border-radius: 50%;
    cursor: pointer;
}

.ProdFullView>.ProdDetails>.ProdColor>.ListColor>.ColorOuter>.colors.Blue {
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 255, 0.551);
    border-radius: 50%;
    cursor: pointer;
}

.ProdFullView>.ProdDetails>.ProdSize {
    margin-top: 30px;
}

.ProdFullView>.ProdDetails>.ProdSize>.textFlex {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
        font-size: 1.2rem;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

}

.ProdFullView>.ProdDetails>.ProdSize>.textFlex>h1:nth-child(2) {
    /* color: red; */
    text-decoration: underline;
}

.ProdFullView>.ProdDetails>.ProdSize>.SizeList {
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    gap: 10px;

    .ListSizes {
        border-radius: 15px;
        width: 50px;
        height: 50px;
        background-color: rgb(255, 252, 252);
        color: rgb(0, 0, 0);
        box-shadow: 1px 3px 2px black;
        cursor: pointer;
        display: flex;

        align-items: center;
        justify-content: center;
    }

    .ListSizes.active {
        background-color: black;
        color: white;
        box-shadow: 1px 3px 2px rgb(255, 253, 253);
    }
}

.ProdFullView>.ProdDetails>.ProdBtns {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    gap: 10px;

    button {
        width: 100%;
        height: 40px;
        border-radius: 10px;

        background-color: var(--btncolor);
        cursor: pointer;
        color: white;
        border: none;
    }

    button:active {
        opacity: 0.8;
    }
}

.ProdFullView>.ProdDetails>.ProdBtns>.addToCart {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;

    button {
        width: 80%;
        height: 40px;
        border-radius: 10px;
        cursor: pointer;
        background-color: black;
        color: white;
        border: none;
    }

    .like {
        height: 40px;
        cursor: pointer;
        width: 20%;
        background-color: black;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
    }
}

.ProdFullView>.ProdDetails>.AboutProd {
    width: 500px;
    margin-top: 30px;
    white-space: pre-line;
    overflow-wrap: break-word;

    p {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
    }
}

@media (max-width:1174px) {
    .ProdFullView>.ProdDetails {
        width: 100%;
        overflow: hidden;
    }
}

@media (max-width:804px) {
    .ProdFullView>.ProdImg>img {
        width: 300px;
        /* overflow: visible; */
    }
}

@media (max-width:775px) {

    .ProdDetailsOuter>.mayLike {
        margin-left: 0px;
        text-align: center;
    }

    .ProdFullView>.ProdImg {
        padding: 10px;
        width: 100vw;
        width: fit-content;
        /* background-color: red; */
        display: grid;
        grid-template: '300px 300px';
        gap: 10px;

        /* width: 42.5%; */
        /* background-color: red; */
        /* overflow: hidden; */
    }
}

@media (max-width:653px) {
    .ProdFullView>.ProdImg {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

    }

    .ProdFullView>.ProdImg>img {
        width: 180px;
        height: 200px;
    }

    .ProdFullView>.ProdImg>img:nth-child(1) {
        width: 90vw;
        height: 500px;
        object-fit: fill;
    }
}

@media (max-width:624px) {
    .ProdFullView>.ProdImg {
        img:nth-child(1) {
            grid-area: "main";
        }

        grid-template-areas:"";
    }
}

@media (max-width:571px) {
    .ProdFullView>.ProdImg>img {
        width: 150px;
        height: 200px;
    }
    .ProdFullView>.ProdDetails>.AboutProd{
        width: 100%;
    }
}

@media (max-width:525px) {
    .ProdDetailsOuter {
        padding: 0px;
    }

    .ProdFullView>.ProdDetails>.ProdName {
        width: 100%;
        font-size: 1.2rem;
        margin-bottom: 20px;
    }

    .ProdFullView>.ProdDetails {
        width: 100vw;
    }

    .ProdFullView>.ProdDetails>.ProdSize>.SizeList {
        width: 100%;
    }
}

/*  .ProdDetailsOuter > .mayLike{
        margin-left: 0px;
        text-align: center;
    } */

@media (max-width:503px) {
    .ProdDetailsOuter>.mayLike {
        margin-left: 0px;
        text-align: center;
        font-size: 2rem;
    }
}

@media (max-width:488px) {
    .ProdFullView>.ProdImg>img {
        width: 100px;
        height: 150px;
        object-fit: fill;
    }
}