*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

:root {
    --btncolor: #4A69E2;
    --BoldFont: "Boldonse", system-ui;
    --yello: #FFA52F;
    --grey: #232321;
    --font2: "Poppins", sans-serif;
}

.LoginOuter{
    padding: 2% 6%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.LoginOuter > .Login {
    width: 550px;
    /* background-color: red; */
    padding: 20px;
    h1{
        margin-bottom: 15px;
    }
    a{
        color: var(--grey);
    }
}
.LoginOuter > .Login > form > #Email , #pass{
    width: 100%;
    height: 48px;
    display: block;
    margin-top: 20px;
    padding: 0px 30px;
    border: 1px solid black;
    border-radius: 10px;
}
.LoginOuter > .Login > form > .checkBox{
    display:flex;
    gap: 10px;
    margin: 20px 0px;
    
}
.LoginOuter > .Login > form > .checkBox > #conditions{
    width: 15px;
    background-color: var(--grey);
    color: white;
}
.LoginOuter > .Login > form > p{
    width: 200px;
}
.LoginOuter > .Login > form > button{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    text-transform: uppercase;
    border: none;
    background-color: var(--grey);
    color: white;
    border-radius: 10px;
    cursor: pointer;
    margin: 20px 0px;
}
.LoginOuter > .Login > form > button:hover{
    opacity: 0.9;
}
.LoginOuter > .Login > .LoginUp{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.LoginOuter > .Login > .LoginUp  > .icons{
    width: 150px;
    height: 70px;
    border: 1px solid black;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    cursor: pointer;
    transition: all ease-in-out 500ms;
}
.LoginOuter > .Login > .LoginUp  > .icons:hover{
    transform: translateY(-10px) translateX(5px);
    box-shadow: 2px 3px 4px black;
}
 .ClubDetails{
    width: 710px;
    height: 570px;
    background-color: #fafafa;
    color: black;
    padding:10px 70px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
} 
.ClubDetails > h1{
    font-size: 2.3rem;
}

 .ClubDetails> button{
     width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    text-transform: uppercase;
    border: none;
    background-color: var(--grey);
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

 .ClubDetails> button:hover{
    opacity: 0.9;
}

@media (max-width:547px) {
   .ClubDetails{
        width: 100%;
        padding: 10px 20px;
        justify-content: space-between;
        align-items: center;
        h1{
            font-size: 2rem;
        }
    }
     .Login {
        width: 100%;
        padding: 0px;
        margin-bottom: 30px;
    }
    .LoginOuter > .Login > .LoginUp  > .icons{
        width: 100px;
    }
}

@media (max-width:416px) {
    .LoginOuter > .Login > .LoginUp  > .icons{
        width: 70px;
    }
}